.seanse {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  max-width: 300px;
}

h2 {
  margin-top: 0;
}

.ticket-type {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.ticketTable {
  margin-top: 100px;
}

span {
  margin: 0;
}

.seanse-view-container {
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
}

td, th {
    padding: 0 10px;
}

.select-td {
    display: flex;
    justify-content: center;
}